<%
    // returns "class='aui-nav-selected'" for the current page, or the empty string otherwise
    var selected = function(path) {
        var isSelected = false;
        // trim file extension if present
        if (path.indexOf('.') > -1) {
            path = path.split('.')[0];
        }
        return path === current.path.join("/") ? "class='aui-nav-selected'" : "";
    };
%>

<div class="aui-page-panel-nav">
    <nav class="aui-navgroup aui-navgroup-vertical">
        <div class="aui-navgroup-inner">
            <%- partial('_sidebar_list.ejs', { category: 'guides' }) %>

            <div class="aui-nav-heading">
                <strong>Core Concepts</strong>
            </div>
            <%- partial('_sidebar_list.ejs', { category: 'concepts' }) %>

            <div class="aui-nav-heading">
                <strong>Developing and Deploying</strong>
            </div>
            <%- partial('_sidebar_list.ejs', { category: 'developing' }) %>

            <div class="aui-nav-heading">
                <a href="<%= relDocRoot %>modules/">Addon Descriptor</a>
            </div>
            <%- partial('_sidebar_list.ejs', { category: 'modules' }) %>

            <div class="aui-nav-heading">
                <strong>Common Modules</strong>
            </div>
            <%- partial('_module_list.ejs', {modules: entities.common, relDocRoot: relDocRoot }) %>

            <%- partial('_module_list.ejs', {modules: entities.jira, relDocRoot: relDocRoot }) %>

            <%- partial('_module_list.ejs', {modules: entities.confluence, relDocRoot: relDocRoot }) %>

            <div class="aui-nav-heading">
                <a href="<%= relDocRoot %>concepts/javascript-api.html">Javascript API</a>
            </div>
            <%- partial('_module_list.ejs', { title: "Javascript API", modules: public.javascript._data, relDocRoot: relDocRoot }) %>

            <div class="aui-nav-heading">
                <a href="<%= relDocRoot %>rest-apis/index.html">REST APIs</a> <span class="aui-lozenge aui-lozenge-success">new!</span>
            </div>
            <%- partial('_sidebar_list.ejs', { category: 'rest-apis' }) %>

            <div class="aui-nav-heading">
                <a href="<%= relDocRoot %>scopes/scopes.html">Product API Scopes</a>
            </div>
            <%- partial('_sidebar_list.ejs', { category: 'scopes' }) %>

            <div class="aui-nav-heading">
                <strong>Resources</strong>
            </div>
            <%- partial('_sidebar_list.ejs', { category: 'resources' }) %>

        </div>
    </nav>
</div>
